extends base

block content
    //- p= hotels
    //-var length = hotels.length
    //- -console.log(hotels)
    if length === 0
        h2 Mes biens à la location
    .booking
        each bear in bears

            .bookingCard
                h2 Hébergement
                .bookingCard_image
                    img.bookingImage(src="https://cdn.pixabay.com/photo/2016/02/19/10/01/hotel-1209021_960_720.jpg", alt="")
                .bookingCard_details
                    .bookingCard_hotel-details
                        h5 Nom
                        p= bear.name
                        //- p= booking.hotel.address
                    .bookingCard_hotel-average 
                        h5 Ville
                        p= bear.city
                    .bookingCard_host-details
                        h5 Description
                        p= bear.city
                    .bookingCard_price-details
                        p Prix par nuit
                        p= bear.age
                    .bookingCard_checkin-details
                        h5 Nombre de couchages
                        p= bear.age
                    .bookingCard_checkout-details
                        h5 available
                        p= bear.nom
                    .bookingCard_guest-details
                        h5 User
                        p= bear.age