extends base

block content

    .searchbar_form
        form(action='/overview' method='GET')
            .searchbar_top
                .searchbar_top_input
                    label(for='name') Recherche par nom 
                    input#name(type='text' name='name' placeholder='Search By Hotel name')
                .searchbar_top_input
                    label(for='city_id') Recherche par ville
                    input#location(type='text' name='city_id' placeholder='Enter Location')
                .searchbar_top_input
                    label(for='price_by_night') Prix par nuit
                    input#pricegreat(type='text' name='price_by_night' placeholder='Price by night')
                .searchbar_top_input
                    label(for='bathrooms') Nombre salle de bain
                    input#priceless(type='text' name='bathrooms' placeholder='Number bathrooms ')
                .searchbar_top_input
                    label(for='rooms') Nombre de chambres
                    input#room(type='text' name='rooms' placeholder='Room Required')

            .searchbar_button
                .button
                    button(type='submit') Recherche
    .overview_main
        .overview_mainleft
            .overview_staysplace
                    h2 Quelques suggestions
            .overview_staysplace_clock_guidelines
                img(src="./public/img/clock.png", alt="")      
                p Vérifiez les restrictions de voyage avant de réserver.
                span  Veuillez consulter et suivre les directives gouvernementales en matière de voyage.
            each place in places
                .overview
                    a(href=`/places/${place._id}`)
                        .overview_card
                            .overview_cardleft
                                img(src="https://cdn.pixabay.com/photo/2015/07/15/11/51/resort-846075_960_720.jpg", alt="")
                            .overview_cardright
                                .overview_cardrightfirst
                                    span.rightfirst= place.description
                                    span    
                                        img.rightfirstimage(src="https://cdn.pixabay.com/photo/2014/04/02/17/04/bed-307817_960_720.png", alt="")
                                        span= place.rooms
                                        |  
                                        span pièces 
                                        span= place.max_guests
                                        span   personnes maximum
                                .overview_cardrightsecond
                                    h3=place.name                                     
                                    
                                .overview_cardrightthird
                                    span 
                                        span.boldrupee €
                                        span.boldrupee= place.price_by_night
                                        span.boldrupee /
                                        span nuit
                                        
            .overview_paginate
                        form.overview_paginate_form(action='/overview' method='GET')
                            label(for='page') Page Number
                            input#page(type='text' name='page' value=`${page}`)
                            button(type='submit') Search
                        if page*10 < length
                            span= `${page-1}1 - ${page*10} of ${length} places to stay`
                        else
                            span= `${page-1}1 - ${page*10-(page*10-length)} of ${length} places to stay`
                        p Enter dates to see full pricing. Additional fees apply. Taxes may be added.
        .overview_mainright
            .fixingmap
                - const hotels = []
                each place in places
                    //- -console.log(hotel)
                    - var taking_hotels = place._id
                    //- -console.log(taking_hotels)
                    
                    - hotels.push(taking_hotels)

                //- -console.log("all hotels location")
                //- -console.log(hotels)
                #mainmap(data-locations=`${JSON.stringify(hotels)}`)
